<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample school website</title>

    <!-- Tailwind  -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Fontawesome  -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

     <style>
        a{
            display: inline-block;
        }

        body{
            font-family:  "Ubuntu", sans-serif;
        }

        .swiper-wrapper {
            width: 100%;
            height: max-content !important;
            padding-bottom: 64px !important;
            -webkit-transition-timing-function: linear !important;
            transition-timing-function: linear !important;
            position: relative;
            }
            .swiper-pagination-bullet {
            background: #4f46e5;
            }

            .slider img {
                transition: opacity 1s ease-in-out;
            }

     </style>

     <script>
        function nav_hiding(){
            document.getElementById('hide-nav').classList.toggle('hidden')
        }
    
        
     </script>

     <!-- Google font  -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Navbar  -->
    <header class=" sm:rounded-b-xl flex flex-wrap-reverse sm:flex-wrap bg-emerald-400">
        <div class="sm:rounded-b-xl header-upper hidden sm:flex gap-4 sm:justify-between w-full p-4 px-10 bg-emerald-700 text-white justify-center flex-col sm:flex-row sm:shadow-sm ">
            <nav class="links w-max mx-auto sm:m-0">
                <ul class="flex gap-4 flex-wrap">
                    <li><a href="#">News</a></li>
                    <li><a href="#">Notifications</a></li>
                    <li><a href="#">Events</a></li>

                </ul>
            </nav>
            <ul class="contacts flex sm:flex-row gap-3 sm:gap-6 flex-wrap justify-center">
                <li>
                    <a href="mailto:info@demoschool.com" class="flex gap-2 justify-center items-center">
                        <i class="fa-solid fa-phone"></i><span>+01 09384367</span>
                    </a>
                </li>
                <li>
                    <a href="mailto:info@demoschool.com" class="flex gap-2 justify-center items-center">
                        <i class="fa-solid fa-envelope"></i><span>info@demoschool.com</span>
                    </a>
                </li>
                <li>
                    <a href="mailto:info@demoschool.com" class="flex gap-2 justify-center items-center">
                        <i class="fa-solid fa-location"></i><span>Tarakeshwar - 5 , Aryaltar</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="header-lower p-4 px-10 flex justify-between items-center w-full sm:rounded-b-xl sm:shadow-md">
            <a href="#" class="logo flex gap-2 items-center">
                <img src="https://seeklogo.com/images/S/school-education-inspiration-logo-A8AD603C93-seeklogo.com.png" alt="HI" class="h-8">
                <span>Model School</span>
            </a>

            <div id="hide-nav" class="bg-emerald-200 z-40 sm:bg-emerald-400 absolute top-14 left-0  w-full sm:w-max sm:static nav-expand sm:flex gap-3 justify-center items-center hidden">
                <nav class="">
                    <ul class="flex gap-3 px-10 p-4 sm:p-0 flex-col sm:flex-row">

                        <div class="group cursor-pointer">
                            <li>Hover Me</li>
                            <ul class="hidden sm:absolute mt-2 sm:m-0 bg-emerald-400 p-2 px-4 gap-4 group-hover:block sm:border-2 sm:rounded-md">
                                <li>Item 1</li>
                                <li>Item 1</li>
                                <li>Item 1</li>
                        </div>

                        <div class="group cursor-pointer ">
                            <li>Hover Me</li>
                            <ul class="hidden sm:absolute mt-2 sm:m-0 bg-emerald-400 p-2 px-4 gap-4 group-hover:block sm:border-2 sm:rounded-md">
                                <li>Item 1</li>
                                <li>Item 1</li>
                                <li>Item 1</li>
                        </div>
                    </ul>
                </nav>
    
                <a href="#" class="px-5 p-2 sm:rounded-full bg-emerald-950 text-white font-semibold mx-10 mb-4 sm:m-0 items-center  ">Contact Us</a>

                <!-- Hide on big screen  -->

                <div class="header-upper sm:hidden flex gap-4 sm:justify-between w-full pb-4 px-10 bg-white-700 text-black justify-center flex-col sm:flex-row">
                    <nav class="links sm:w-max mx-auto sm:m-0  w-full">
                        <ul class="flex gap-6 flex-wrap bg-emerald-500 justify-center py-4">
                            <li><a href="#">News</a></li>
                            <li><a href="#">Notifications</a></li>
                            <li><a href="#">Events</a></li>
        
                        </ul>
                    </nav>
                    <ul class="contacts flex sm:flex-row gap-3 sm:gap-6 flex-wrap justify-center">
                        <li>
                            <a href="mailto:info@demoschool.com" class="flex gap-2 justify-center items-center">
                                <i class="fa-solid fa-phone"></i><span>+01 09384367</span>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:info@demoschool.com" class="flex gap-2 justify-center items-center">
                                <i class="fa-solid fa-envelope"></i><span>info@demoschool.com</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <button class="ham sm:hidden" onclick="nav_hiding()">
                X
            </button>

        </div>
    </header>


    <!-- Notices -->
     <div id="notice" class="z-50 w-full h-full bg-emerald-100 absolute top-0 bg-opacity-10 p-10 backdrop-blur-md">
        
        <i class="text-sm absolute top-5 right-5 fa-solid fa-cross bg-emerald-950 p-4 rounded-full text-white cursor-pointer" onclick="this.parentElement.remove()"></i>
        <img src="https://img.jagranjosh.com/images/2023/July/1772023/notice.jpg" class="h-[90%] py-4 mx-auto" alt="Notice Text">      
     </div>

     <div id="notice" class="z-50
      w-full h-full bg-emerald-100 absolute top-0 bg-opacity-10 p-10 backdrop-blur-md">
        
        <i class="text-sm absolute top-5 right-5 fa-solid fa-cross bg-emerald-950 p-4 rounded-full text-white cursor-pointer" onclick="this.parentElement.remove()"></i>
        <img src="https://images.examples.com/wp-content/uploads/2017/06/30-day-notice-to-vacate-letter-Template.png" class="h-full py-4 mx-auto" alt="Notice Text">      
     </div>


    <!-- Home Section  -->
     <section class=" px-20 p-4 flex gap-4 sm:flex-nowrap flex-wrap-reverse overflow-hidden">
         <div class="relative left w-full sm:h-100  justify-center items-center sm:items-start flex flex-col gap-4 ">
            
            <h1 class="flex flex-col gap-[8px] sm:gap-[16px] justify-center items-center sm:items-start">
                <span class="text-2xl sm:text-4xl">Empowering&nbsp;Growth&nbsp;Through</span>
                <span class="text-3xl sm:text-5xl font-bold text-emerald-950">Education</span>
            </h1>
            
            <div class="stats flex gap-4 ">
                <div class="stat bg-white flex flex-col items-center justify-center p-4 rounded-md shadow-md">
                    <span class="font-bold text-emerald-950 text-3xl">100+</span>
                    <p>Years</p>
                </div>
                <div class="stat bg-white flex flex-col items-center justify-center p-4 rounded-md shadow-md">
                    <span class="font-bold text-emerald-950 text-3xl">80+</span>
                    <p>Teachers</p>
                </div>
                <div class="stat bg-white flex flex-col items-center justify-center p-4 rounded-md shadow-md">
                    <span class="font-bold text-emerald-950 text-3xl">30+</span>
                    <p>Classes</p>
                </div>
            </div>

            <button class="w-max px-6 p-2 bg-emerald-900 hover:bg-emerald-950 transition-all text-xl duration-200 text-white">See A Video</button>

        </div>

        <!-- Image slider  -->
        <div class="image-slider w-full max-w-lg mx-auto relative">
            <div class="slider h-[360px]  bg-emerald-200 rounded-lg relative overflow-hidden">
                <div id="default-carousel" class="relative" data-carousel="static">
                    <!-- Carousel wrapper -->
                    <div class="overflow-hidden relative h-[360px]  rounded-lg ">
                        <!-- Item 1 -->
                        <div class="hidden duration-700 ease-in-out" data-carousel-item>
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/School-education-learning-1750587-h.jpg/1200px-School-education-learning-1750587-h.jpg" class="block absolute top-1/2  h-full object-cover left-1/2 w-full -translate-x-1/2 -translate-y-1/2" alt="...">
                        </div>
                        <!-- Item 2 -->
                        <div class="hidden duration-700 ease-in-out" data-carousel-item>
                            <img src="https://www.collinsdictionary.com/images/full/school_309241295.jpg" class="block absolute top-1/2 left-1/2 w-full h-full  object-cover -translate-x-1/2 -translate-y-1/2" alt="...">
                        </div>
                        <!-- Item 3 -->
                        <div class="hidden duration-700 ease-in-out" data-carousel-item>
                            <img src="https://raghavfoundation.org.in/wp-content/uploads/2023/05/school-image.jpg" class="block absolute top-1/2 left-1/2 w-full h-full  object-cover -translate-x-1/2 -translate-y-1/2" alt="...">
                        </div>
                    </div>

                    
                    <!-- Slider indicators -->
                    <div class="flex absolute bottom-5 left-1/2 z-30 space-x-3 -translate-x-1/2">
                        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 1" data-carousel-slide-to="0"></button>
                        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
                        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
                    </div>
                    <!-- Slider controls -->
                    <button type="button" class="flex absolute top-0 left-0 z-30 justify-center items-center px-4 h-full cursor-pointer group focus:outline-none" data-carousel-prev>
                        <span class="inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                            <svg class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
                            <span class="hidden">Previous</span>
                        </span>
                    </button>
                    <button type="button" class="flex absolute top-0 right-0 z-30 justify-center items-center px-4 h-full cursor-pointer group focus:outline-none" data-carousel-next>
                        <span class="inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                            <svg class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                            <span class="hidden">Next</span>
                        </span>
                    </button>
                </div>
                <script src="https://unpkg.com/flowbite@1.4.0/dist/flowbite.js"></script>
            </div>
        </div>
     </section>
        
    <!-- Partners -->
     <section class="flex">
     </section>
     
</body>
</html>